<!DOCTYPE html>
<html class="t-{{ site.themeColor }}">
  {% include head.html %}
  <body>
    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <div class="fixed-action-btn" style=" bottom: 54px; right: 24px;">
          <a class="btn-floating btn-large indigo darken-4" onclick="window.scrollTo(0,0);">
            <i class="material-icons">keyboard_arrow_up</i>
          </a>
</div>
  </body>
</html>
